## Please Run all the cells below before starting with model building

## Authenticate using your gmail id
### Run the below cell. After running the cell one link will appear -> Click on Link -> login using your gmail id ->copy the code -> paste it in the box -> done

In [73]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

## Counting no. of rows in a table
### Sample Code

In [74]:
%%bigquery --project bq-storage-flask-app df
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.stackoverflow.posts_questions`

   total_rows
0    17278709

## Setting up project Id globally

In [0]:
project_id = 'bq-storage-flask-app'

## Selecting approximately 2000 random rows from question dataset

In [76]:
from google.cloud import bigquery

client = bigquery.Client(project=project_id)

sample_count = 2000
row_count = client.query('''
  SELECT 
    COUNT(*) as total
  FROM `bigquery-public-data.stackoverflow.posts_questions`''').to_dataframe().total[0]

df_questions = client.query('''
  SELECT
    *
  FROM
   `bigquery-public-data.stackoverflow.posts_questions`
  WHERE RAND() < %d/%d
''' % (sample_count, row_count)).to_dataframe()

#print('Full dataset has %d rows' % row_count)
df_questions.head()

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,post_type_id,score,tags,view_count
0,27219473,"OOP in javascript: the ""this"" scope changes wh...",<p>I am coding a javascript program using a ni...,NaN,0,4,None,2014-11-30 23:21:01.220000+00:00,NaN,2014-11-30 23:27:20.097000+00:00,2014-11-30 23:27:20.097000+00:00,,740553,,1e+06,1,0,javascript|oop|p5.js,29
1,6463484,iOS - loading xib from bundle in Documents dir...,"<p>I've been working on getting ""custom skinna...",7e+06,4,0,None,2011-06-24 04:44:53.753000+00:00,5,2015-06-03 20:30:41.893000+00:00,2017-05-23 10:28:24.393000+00:00,,-1,,3e+05,1,8,ios|bundle,8737
2,16947181,Robolectric 2.0 not creating views when testing,<p>I'm trying to set up testing with robolectr...,NaN,2,0,None,2013-06-05 18:23:47.370000+00:00,NaN,2014-12-03 04:53:04.690000+00:00,2013-06-05 19:39:40.747000+00:00,,728241,,7e+05,1,4,robolectric|roboguice,408
3,1028383,Defining and using project variables in Java C...,<p>I'm trying to experiment with project varia...,NaN,1,1,None,2009-06-22 17:12:35.223000+00:00,1,2010-05-14 21:01:57.997000+00:00,NaT,,NaN,,1e+05,1,0,java|frameworks,288
4,48251035,C# Xamarin Placing EditText above ListView,<p>I want to place a SearchBox above my ListVi...,5e+07,1,0,None,2018-01-14 15:19:35.840000+00:00,NaN,2018-01-14 17:30:18.567000+00:00,NaT,,NaN,user9198450,NaN,1,0,c#|visual-studio|listview|xamarin|android-edit...,36

## Selecting approximately 2000 random rows from answer dataset

In [77]:
from google.cloud import bigquery

client = bigquery.Client(project=project_id)

sample_count = 2000
row_count = client.query('''
  SELECT 
    COUNT(*) as total
  FROM `bigquery-public-data.stackoverflow.posts_answers`''').to_dataframe().total[0]

df_answers = client.query('''
  SELECT
    *
  FROM
    `bigquery-public-data.stackoverflow.posts_answers`
  WHERE RAND() < %d/%d
''' % (sample_count, row_count)).to_dataframe()

df_answers.head()

,id,body,comment_count,community_owned_date,creation_date,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags
0,47769770,<pre><code>if (sender is Border b &amp;&amp; b...,0,NaT,2017-12-12 09:59:15.793000+00:00,2017-12-12 09:59:15.793000+00:00,NaT,,NaN,,2e+06,47769529,2,-1,
1,46695374,"<p>Using <a href=""http://api.jquery.com/hidden...",0,NaT,2017-10-11 18:40:23.930000+00:00,2017-10-11 18:40:23.930000+00:00,NaT,,NaN,,3e+06,46695217,2,1,
2,28164020,<p>Try this :-</p>\n\n<pre><code>$sql = $sql ....,4,NaT,2015-01-27 05:47:18.047000+00:00,2015-01-27 05:47:18.047000+00:00,NaT,,NaN,,4e+06,28163845,2,0,
3,7731980,<p>My answer: @jdavies solution is right. I wa...,0,NaT,2011-10-11 20:17:39.397000+00:00,2011-10-11 20:17:39.397000+00:00,NaT,,NaN,,8e+05,7678699,2,0,
4,52793089,<p>@Pawel Szczur\nHave you tried your formula ...,0,NaT,2018-10-13 12:47:24.480000+00:00,2018-10-13 12:47:24.480000+00:00,NaT,,NaN,,9e+06,41048968,2,0,

## Merging the 2 datasets (Questions and Answers)
Note : Only 1 month data has been taken here (i.e. '2018-12-01' and '2019-01-01'). You can change the date range between July 2008 to March 2019. (Date Format: "yyyy-mm-dd")

In [0]:
from google.cloud import bigquery

client = bigquery.Client(project=project_id)


df = client.query('''
Select 
b.id as question_id, a.id as answer_id, title,b.body as question_body,a.body as answer_body,a.body accepted_answer_id, 
answer_count, b.comment_count as que_comment_count, a.comment_count as ans_comment_count, b.community_owned_date, b.creation_date as que_creation_date,a.creation_date as ans_creation_date, b.favorite_count, b.last_activity_date, b.last_edit_date as que_last_edit_date, 
a.last_edit_date as ans_last_edit_date, b.last_editor_display_name, b.last_editor_user_id,b.owner_user_id, b.post_type_id, b.score as que_score,a.score as ans_score, 
b.tags as que_tags,a.tags as ans_tags, view_count as que_view_count

from
(SELECT * FROM `bigquery-public-data.stackoverflow.posts_answers` 
where date(creation_date) between '2018-12-01' and '2019-01-01') as a
left join
(SELECT * FROM `bigquery-public-data.stackoverflow.posts_questions` 
where date(creation_date) between '2018-12-01' and '2019-01-01') as b

on a.parent_id = b.id

''').to_dataframe()

#df.head()

## Continue building your ML Model...All the Best!!

In [79]:
#view the columns present in dataset
df.columns

Index(['question_id', 'answer_id', 'title', 'question_body', 'answer_body',
       'accepted_answer_id', 'answer_count', 'que_comment_count',
       'ans_comment_count', 'community_owned_date', 'que_creation_date',
       'ans_creation_date', 'favorite_count', 'last_activity_date',
       'que_last_edit_date', 'ans_last_edit_date', 'last_editor_display_name',
       'last_editor_user_id', 'owner_user_id', 'post_type_id', 'que_score',
       'ans_score', 'que_tags', 'ans_tags', 'que_view_count'],
      dtype='object')

 **Understanding the problem statement we can consider model building to see if probability of question being answered within 1 week depends  on any one or all of the following:
1)Model dependent on  the most frequent first word of the question
2)Model dependent on day of the week
3)Model dependent on the hour of the day of the week
4)Model dependent on length of question
Here in our study we will consider points 2 & 3 from above**

**Calculate Time between question and first answer in minutes**

In [0]:
#Select columns of interest
df_interest=df[['que_creation_date','ans_creation_date']]

In [81]:
df_interest.head()

                 que_creation_date                ans_creation_date
0 2018-12-12 02:58:07.550000+00:00 2018-12-12 03:52:26.503000+00:00
1 2018-12-26 03:12:12.687000+00:00 2018-12-26 03:22:53.747000+00:00
2 2018-12-11 10:56:41.043000+00:00 2018-12-11 11:08:34.563000+00:00
3 2018-12-03 07:02:32.037000+00:00 2018-12-03 07:45:04.717000+00:00
4 2018-12-03 08:16:21.460000+00:00 2018-12-03 08:23:45.377000+00:00

In [82]:
df_interest['timeDifference']=df_interest['ans_creation_date']-df_interest['que_creation_date']
df_interest.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,que_creation_date,ans_creation_date,timeDifference
0,2018-12-12 02:58:07.550000+00:00,2018-12-12 03:52:26.503000+00:00,00:54:18.953000
1,2018-12-26 03:12:12.687000+00:00,2018-12-26 03:22:53.747000+00:00,00:10:41.060000
2,2018-12-11 10:56:41.043000+00:00,2018-12-11 11:08:34.563000+00:00,00:11:53.520000
3,2018-12-03 07:02:32.037000+00:00,2018-12-03 07:45:04.717000+00:00,00:42:32.680000
4,2018-12-03 08:16:21.460000+00:00,2018-12-03 08:23:45.377000+00:00,00:07:23.917000

In [83]:
#Convert time difference to minutes
import numpy as np
df_interest['timeDifference']=df_interest['timeDifference']/np.timedelta64(1,'m')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [84]:
#round time difference to 2 decimals
df_interest['timeDifference']=df_interest['timeDifference'].round()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
#set precision to zero
import pandas as pd
pd.set_option('precision', 0)

In [86]:
df_interest.head()

,que_creation_date,ans_creation_date,timeDifference
0,2018-12-12 02:58:07.550000+00:00,2018-12-12 03:52:26.503000+00:00,54
1,2018-12-26 03:12:12.687000+00:00,2018-12-26 03:22:53.747000+00:00,11
2,2018-12-11 10:56:41.043000+00:00,2018-12-11 11:08:34.563000+00:00,12
3,2018-12-03 07:02:32.037000+00:00,2018-12-03 07:45:04.717000+00:00,43
4,2018-12-03 08:16:21.460000+00:00,2018-12-03 08:23:45.377000+00:00,7

**Get Hour of Question Creation and Day of the week for Question Creation**

In [87]:
import datetime,time
df_interest['hourOfTheDay']=df_interest['que_creation_date'].apply(lambda time: time.hour)
df_interest['dayOfWeek']=df_interest['que_creation_date'].apply(lambda time: time.dayofweek)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [88]:
df_interest.head()

,que_creation_date,ans_creation_date,timeDifference,hourOfTheDay,dayOfWeek
0,2018-12-12 02:58:07.550000+00:00,2018-12-12 03:52:26.503000+00:00,54,2,2
1,2018-12-26 03:12:12.687000+00:00,2018-12-26 03:22:53.747000+00:00,11,3,2
2,2018-12-11 10:56:41.043000+00:00,2018-12-11 11:08:34.563000+00:00,12,10,1
3,2018-12-03 07:02:32.037000+00:00,2018-12-03 07:45:04.717000+00:00,43,7,0
4,2018-12-03 08:16:21.460000+00:00,2018-12-03 08:23:45.377000+00:00,7,8,0

In [89]:
#check the maximum time difference
df_interest.timeDifference.max()

44816.0

**For a week the number of minutes is calculated as 24 * 60*7=10080**

In [90]:
df_interest['MoreThanOrLessThanWeek'] = [1 if x >=10080.0 else 0 for x in df_interest['timeDifference']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [91]:
df_interest['MoreThanOrLessThanWeek'].value_counts()

0    186633
1      2857
Name: MoreThanOrLessThanWeek, dtype: int64

In [92]:
df_interest.isnull().sum()

que_creation_date         39269
ans_creation_date             0
timeDifference            39269
hourOfTheDay              39269
dayOfWeek                 39269
MoreThanOrLessThanWeek        0
dtype: int64

In [0]:
#delete the NaN values
df_interest=df_interest.dropna()

In [94]:
df_interest.isnull().sum()

que_creation_date         0
ans_creation_date         0
timeDifference            0
hourOfTheDay              0
dayOfWeek                 0
MoreThanOrLessThanWeek    0
dtype: int64

In [95]:
#check the distribution of two classes
df_interest['MoreThanOrLessThanWeek'].value_counts()

0    147364
1      2857
Name: MoreThanOrLessThanWeek, dtype: int64

In [0]:
df_independent_pre=df_interest[['dayOfWeek','hourOfTheDay']]
df_dependent_pre=df_interest[['MoreThanOrLessThanWeek']]

**As above due to class imbalance implemented one of ways to handle class imbalance i.e 'Over-sampling followed by under-sampling'**

In [97]:
from imblearn.combine import SMOTETomek

smote = SMOTETomek(ratio='auto')
df_independent, df_dependent = smote.fit_sample(df_independent_pre, df_dependent_pre)

#plot_2d_space(X_sm, y_sm, 'SMOTE over-sampling')

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [98]:
df_independent.shape

(294728, 2)

In [99]:
df_dependent.shape

(294728,)

In [0]:
#Split the dataset into training and test set
from sklearn.model_selection  import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_independent, df_dependent, test_size = 0.3,random_state=1)

**Lets first build Multinomial Naive Bayes Model and evaluate its metrics**

In [101]:
from sklearn.naive_bayes import MultinomialNB

# instantiate bernoulli NB object
bnb = MultinomialNB()

# fit 
bnb.fit(X_train,y_train)

# predict class
y_pred_class = bnb.predict(X_test)

# predict probability
y_pred_proba =bnb.predict_proba(X_test)

# accuracy
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

0.5049706511044006

In [102]:
confusion = metrics.confusion_matrix(y_test, y_pred_class)
print(confusion)
#[row, column]
TN = confusion[0, 0]
FP = confusion[0, 1]
FN = confusion[1, 0]
TP = confusion[1, 1]

[[20692 23710]
 [20060 23957]]

In [103]:
print("PRECISION SCORE :",metrics.precision_score(y_test, y_pred_class))
print("RECALL SCORE :", metrics.recall_score(y_test, y_pred_class))
print("F1 SCORE :",metrics.f1_score(y_test, y_pred_class))

PRECISION SCORE : 0.5025908909727904
RECALL SCORE : 0.5442669877547311
F1 SCORE : 0.5225993630295362

In [0]:
from sklearn.svm import SVC

**Lets evaluate SVM model with non linear kernel with penalizing factor i.e cost sensitive training**

**Unable to evaluate SVM (penalized SVM model here) due to computational limitation here**

In [0]:
# model
non_linear_model = SVC(kernel='rbf',class_weight='balanced',probability=True)

# fit
non_linear_model.fit(X_train, y_train)

# predict
y_pred = non_linear_model.predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [0]:
# confusion matrix and accuracy

# accuracy
print("accuracy:", metrics.accuracy_score(y_true=y_test, y_pred=y_pred), "\n")

# cm
print(metrics.confusion_matrix(y_true=y_test, y_pred=y_pred))

**Lets evaluate Decision Tree Classifier Algorithm alongwith Grid Search**

In [0]:
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

In [105]:
# Importing decision tree classifier from sklearn library
from sklearn.tree import DecisionTreeClassifier
# Create the parameter grid 
param_grid = {
    'max_depth': range(5, 15, 5),
    'min_samples_leaf': range(50, 150, 50),
    'min_samples_split': range(50, 150, 50),
    'criterion': ["entropy", "gini"]
}

n_folds = 5
# Instantiate the grid search model
dtree = DecisionTreeClassifier()
grid_search = GridSearchCV(estimator = dtree, param_grid = param_grid, 
                          cv = n_folds, verbose = 1)

# Fit the grid search to the data
grid_search.fit(X_train,y_train)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  80 out of  80 | elapsed:   13.8s finished

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'max_depth': range(5, 15, 5), 'min_samples_leaf': range(50, 150, 50), 'min_samples_split': range(50, 150, 50), 'criterion': ['entropy', 'gini']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=1)

In [106]:
# printing the optimal accuracy score and hyperparameters
print("best accuracy", grid_search.best_score_)
print(grid_search.best_estimator_)

best accuracy 0.5535774008889578
DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=50, min_samples_split=50,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

**Build model with best parameters**

In [107]:
# model with optimal hyperparameters
clf_entropy = DecisionTreeClassifier(criterion = "entropy", 
                                  random_state = 100,
                                  max_depth=10, 
                                  min_samples_leaf=50,
                                  min_samples_split=50)
clf_entropy.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=50, min_samples_split=50,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [108]:
# accuracy score
clf_entropy.score(X_test,y_test)

0.5553896786889696

In [109]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
# Making predictions
y_pred_dtree = clf_entropy.predict(X_test)
print(classification_report(y_test, y_pred_dtree))

              precision    recall  f1-score   support

           0       0.56      0.52      0.54     44402
           1       0.55      0.59      0.57     44017

   micro avg       0.56      0.56      0.56     88419
   macro avg       0.56      0.56      0.55     88419
weighted avg       0.56      0.56      0.55     88419

**Lets evaluate one of the boosting algorithms XGBoost with default configuration**

In [0]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
import xgboost as xgb
from xgboost import XGBClassifier
from xgboost import plot_importance

In [111]:
# fit model on training data with default hyperparameters
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [0]:
y_predXG = model.predict(X_test)

In [114]:
# accuracy score
model.score(X_test,y_test)

0.5432203485676156

In [115]:
print(classification_report(y_test, y_predXG))

              precision    recall  f1-score   support

           0       0.55      0.53      0.54     44402
           1       0.54      0.56      0.55     44017

   micro avg       0.54      0.54      0.54     88419
   macro avg       0.54      0.54      0.54     88419
weighted avg       0.54      0.54      0.54     88419

We are seeing Decision Tree Classifier is slightly better in terms of accuracy and in classification report than Multinominal Naive Bayes and XG Boost

In [0]:
#Prediction for Decision Tree Clssifier
pred=clf_entropy.predict_proba(X_test)

In [0]:
#Check auc for Decision Tree Classifier
from sklearn.metrics import roc_curve, auc
false_positive_rate, true_positive_rate, thresholds = roc_curve(y_test, y_pred_dtree)
roc_auc = auc(false_positive_rate, true_positive_rate)

In [118]:
# area under the curve
print (roc_auc)

0.5555534155879026

**CONCLUSION
1)From the  models considered above models seem to do only marginally better than a random guess which is of 50% accuracy
2)Strong possibbility that hour of the day when question was posted and day of the week when question was posted are not strong indicators to predict a question will be answered within a week or not
POSSIBLE NEXT STEPS
1)Build model adding additional attributes like tags associated with question posted**